{% extends 'admin_pages/base.html' %} {% block content %}


<div class="col-lg-4 col-md-4">
  <form id="add_work_exp" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="comment">From-To:</label>
      <input class="form-control" rows="5" id="from_to" name="from_to" />
    </div>

    <div class="form-group">
      <label for="comment">Organization</label>
      <input type="text" class="form-control" rows="5" id="organization" name="organization" />
    </div>

    <div class="form-group">
      <label for="comment">Job Title</label>
      <input type="text" class="form-control" rows="5" id="job_title" name="job_title" />
    </div>


    <div class="form-group">
      <label for="comment">Job Description</label>
      <textarea class="form-control" rows="5" id="job_description" name="job_description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add</button>
  </form>
</div>
                       
<div class="col-lg-6 col-md-6">
    <h5>Table  Sample Two</h5>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>

                    <th>Organization</th>
                    <th>Job Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for work in works %}
                <tr class="success">
                    <td>{{work.organization}}</td>
                    <td>{{work.job_title}}</td>
                    <td><a href="{% url 'edit_work_exp' work.id %}" id="edit_edu">EDIT</a>|<a href="{% url 'delete_work_exp' work.id %}">DELETE</a></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#add_work_exp').submit(function(e){
                    e.preventDefault(e);
        $ajax({
            type:'POST',
            url:'{% url 'add_work_exp' %}',
            dataType:"json",
            data:{
                from_to:$('#from_to').val(),
                organization:$('#organization').val(),
                job_title:$('#job_title').val(),
                job_description:$('#job_description').val(),
                csrfmiddlewartoken:$('input[name=csrfmiddlewaretoken]').val()

            },
            success:function(resp){
                alert ("resp: "+resp.name);
            }
        });

        });






    });

</script>



{% endblock %}