{% extends 'admin_pages/base.html' %}

{% block content %}

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
    <div class="div-square">
        <a href="#">
            <i class="fa fa-circle-o-notch fa-5x"></i>
            <h4>Check Data</h4>
        </a>
    </div>

</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
    <div class="div-square">
        <a href="#">
            <i class="fa fa-envelope-o fa-5x"></i>
            <h4>Mail Box</h4>
        </a>
    </div>

</div>

{% endblock %}

